<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APIAutomation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:41:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AcceptanceCriteriaTest.processTestdata()[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">&gt;&gt;processTestdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:41:56</td>   <td>822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateAllacceptanceCriteria</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:42:00</td>   <td>4138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateAllacceptanceCriteria</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:42:00</td>   <td>4675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateAllacceptanceCriteria</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:42:01</td>   <td>5314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateacceptanceCriteria1(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateacceptanceCriteria1</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:42:03</td>   <td>7456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateacceptanceCriteria2(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateacceptanceCriteria2</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/07/28 21:42:03</td>   <td>8030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateacceptanceCriteria3(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@5034c75a]">validateacceptanceCriteria3</td> 
  <td>main@1121454968</td>   <td></td> </tr>
</table>
