<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Patent Portal Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="749ee9">  <td>19/07/28 20:24:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AcceptanceCriteriaTest.processTestdata()[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@2ef5e5e3]">&gt;&gt;processTestdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/07/28 20:24:59</td>   <td>905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@2ef5e5e3]">validateAllacceptanceCriteria</td> 
  <td>pool-1-thread-1@912262710</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/07/28 20:25:01</td>   <td>3478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@2ef5e5e3]">validateAllacceptanceCriteria</td> 
  <td>pool-1-thread-1@912262710</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/07/28 20:25:02</td>   <td>3846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptanceCriteriaTest.validateAllacceptanceCriteria(java.lang.String, java.lang.String)[pri:0, instance:com.assurity.testscript.AcceptanceCriteriaTest@2ef5e5e3]">validateAllacceptanceCriteria</td> 
  <td>pool-1-thread-1@912262710</td>   <td></td> </tr>
</table>
